@import '../fonts/font.css';

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	font: 'Roboto', inherit;
	font-size: 100%;
	line-height: 1;
	vertical-align: baseline;
	border: 0;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.header {
	height: 64px;
	background-color: #2196F3;
	box-shadow: 0 4px 4px rgba(000, 000, 000, 0.2);
}

.menu {
	padding: 0 62px;
	height: 100%;
}

.menu ul {
	height: 100%;
	display: flex;
}

.menu__button {
	padding: 0 23px;
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-family: 'Roboto';
	line-height: 1.5;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}

.menu__button_active {
	background-color: #1E88E5;
	color: #fff;
}

.gallery {
	padding: 62px 48px;
}

.gallery__list {
	display: flex;
	gap: 52px 48px;
	flex-wrap: wrap;
}

.card {
	max-width: 225px;
	aspect-ratio: 1/1;
	flex-shrink: 1;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: scale(1.15);
	box-shadow: 
		0 9px 18px rgba(000, 000, 000, 0.1),
		0 6px 5px rgba(000, 000, 000, 0.2);
}

.card__image {
	height: 225px;
	aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
}

.card__button {
	position: absolute;
	bottom: 19px;
	right: 19px;
	cursor: pointer;
	border: none;
	opacity: 1;
	background-color: transparent;
  transition: opacity 0.3s ease;
}

.like-icon {
	transition: opacity 0.3s ease;
	opacity: 0;
} 

.card:hover .like-icon {
	opacity: 1;
}

.card__button:hover,
.card__button_active {
	background-color: #F24E1E;
	clip-path: path('M20 36.7L17.1 34.06C6.8 24.72 0 18.56 0 11C0 4.84 4.84 0 11 0C14.48 0 17.82 1.62 20 4.18C22.18 1.62 25.52 0 29 0C35.16 0 40 4.84 40 11C40 18.56 33.2 24.72 22.9 34.08L20 36.7Z');
  right: 13px;
	bottom: 18px;
}

.load-more {
	padding-top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}